<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/agendaAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <div class="container">
        <div class="container-conteudo">
            <h1>Agenda do Condomínio</h1>
            <hr>
            <div class="conteudo">
                <div class="container-tabela">
                    <table>
                        <tr>
                            <th>ID Agendamento</th>
                            <th>Nome</th>
                            <th>Titulo</th>
                            <th>Assunto</th>
                            <th>Data Inicio</th>
                            <th>Data Fim</th>
                            <th>Status</th>
                        </tr>
                        <% agendamento.forEach(all => { %>
                            <tr>
                                <td><%= all.idAgendamento %></td>
                                <td><%= all.nome %></td>
                                <td><%= all.titulo %></td>
                                <td><%= all.assunto %></td>
                                <td><%= all.dataInicio %></td>
                                <td><%= all.dataFim %></td>
                                <td><%= all.status %></td>
                            </tr>
                            <% }) %>
                    </table>
                </div>
                <div class="container-button">
                    <a id="btn-excluir" href="/login/administrador/agenda/excluir">Excluir</a>
                    <a id="btn-excluir" href="/login/administrador/agenda/pedidos">Atualizar</a>
                    <a id="btn-cadastrar" href="/login/administrador/agenda/agendar">Agendar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>