<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/log/administrador/comunicadosCreateAdministrador.css"> 
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
    <title>Apagar Comunicado - Administrador</title>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <form action="/login/administrador/comunicados/delete/:idComunicado" method="post">
        <div class="container">
            <div class="container-conteudo">
                <h1>Apagar Comunicado</h1><hr>
                <div class="conteudo">
                    <div class="TituloeDDataEnvio">
                        <label id="labeltitulo" for="titulo">Titulo: <textarea name="titulo" type="text" id="inputTitulo" name="txTitulo" disabled><%= comunicado.titulo %></textarea></label>

                        <label for="dataEnvio">Data de Envio: <input value=<%= comunicado.dataenvio %> name="dataenvio" id="dataEEnvio" name="dtEnvio" disabled></label>
                    </div>

                    <label for="assunto">Assunto: <textarea name="assunto" type="text" id="inputAssunto" name="txAssunto" disabled><%= comunicado.assunto %></textarea></label><br>

                    <label id="labelTTexto" for="textAreaTexto">Texto </label>
                    <textarea name="texto" id="textAreaTexto" name="txaTexto" disabled><%= comunicado.assunto %></textarea>
                </div>
                <div class="container-button">
                    <a href="http://localhost:4000/login/administrador/comunicados" id="btn-voltar">Voltar</a>
                    <button id="btn-cadastrar" type="submit">Apagar</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>