<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerencial - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/gerencialAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <div class="container">
        <div class="container-conteudo">
            <h1>Moradores</h1>
            <hr>
            <div class="conteudo">
                <div class="container-tabela">
                    <table>
                        <tr>
                            <th>ID Usuário</th>
                            <th>Acesso</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Email</th>
                            <th>Telefone</th>
                        </tr>
                        <% moradores.forEach(all => { %>
                            <tr>
                                <td><%= all.idUsuario %> </td>
                                <td><%= all.nivelAcesso %></td>
                                <td><%= all.nome %></td>
                                <td><%= all.datanascimento %></td>
                                <td><%= all.email %></td>
                                <td><%= all.telefone1 %></td>
                            </tr>
                            <% }) %>
                    </table>
                </div>
                <div class="container-button">
                    <a id="btn-excluir" href="/login/administrador/gerencial/delete">Excluir</a>
                    <a id="btn-cadastrar" href="/login/administrador/gerencial/update">Alterar</a>
                    <a id="btn-cadastrar" href="/login/administrador/gerencial/create">Cadastro</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>