<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moradias - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/moradiasAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <div class="container">
        <div class="container-conteudo">
            <h1>Moradias</h1>
            <hr>
            <div class="conteudo">
                <div class="container-tabela">
                    <table>
                        <tr>
                            <th>ID Morador</th>
                            <th>Nome</th>
                            <th>Apartamento</th>
                            <th>Andar</th>
                            <th>Posição</th>
                            <th>Garagem</th>
                            <th>Telefone</th>
                        </tr>
                        <% moradias.forEach(all => { %>
                            <tr>
                                <td><%= all.idMorador %></td>
                                <td><%= all.nome %></td>
                                <td><%= all.numApto %></td>
                                <td><%= all.andar %></td>
                                <td><%= all.posicao %></td>
                                <td><%= all.garagem %></td>
                                <td><%= all.telefone %></td>
                            </tr>
                            <% }) %>
                    </table>
                </div>
                <div class="container-button">
                    <a id="btn-vincular" href="/login/administrador/moradias/apagar">Apagar</a>
                    <a id="btn-vincular" href="/login/administrador/moradias/alterar">Alterar</a>
                    <a id="btn-vincular" href="/login/administrador/moradias/vincular">Vincular</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>