<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Moradia - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/vincularMoradiasAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <form action="/login/administrador/moradias/apagar/success/:numApto" method="post">
        <div class="container">
            <div class="container-conteudo">
                <h1>Apagar Moradia</h1>
                <hr>
                <div class="conteudo">
                    <div class="conteudo-dados">
                        <label for="">ID Morador: <input value=<%= dadosApto.idMorador %> name="idMorador" id="input-idmorador" class="input-dados" type="text" disabled></label>
                        <label for="">Nome: <textarea name="nome" id="input-nome" class="input-dados" type="text" disabled><%= dadosApto.nome %></textarea></label>
                        <label for="">Número Apartamento: <input value=<%= dadosApto.numApto %>  name="numApto" id="input-numeroapto" class="input-dados" type="text" disabled></label>
                        <label for="">Andar: <input value=<%= dadosApto.andar %> name="andar" id="input-andar" class="input-dados" type="text" disabled></label>
                        <label for="">Posição: <input value=<%= dadosApto.posicao %> name="posicao" id="input-posicao" class="input-dados" type="text" disabled></label>
                        <label for="">Vagas de Garagem: <input value=<%= dadosApto.garagem %> name="garagem" id="input-garagem" class="input-dados" type="text" disabled></label>
                        <label for="">Telefone: <input value=<%= dadosApto.telefone %> name="telefone"  id="input-nome" class="input-dados" type="text" disabled></label>
                    </div>
                </div>
                <div class="container-btn">
                    <a href="http://localhost:4000/login/administrador/moradias/apagar" id="btn-voltar">Voltar</a>
                    <button id="btn-vincular" type="submit">Apagar</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>