<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financeiro - Morador</title>
    <link rel="stylesheet" href="/css/log/administrador/financeiroAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuMorador.ejs') %> 
    <form action="">
        <div class="container">
            <div class="container-conteudo">
                <h1>Financeiro</h1><hr>
                <div class="conteudo">
                    <label for="ltMeses"> Mês:
                        <select name="ltMeses" id="ltMeses">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Setembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </label>

                    <div class="container-tabela">
                        <table>
                            <tr>
                                <th>Mês</th>
                                <th>ID Morador</th>
                                <th>Nome</th>
                                <th>Número do Contrato</th>
                                <th>Tempo de Contrato</th>
                                <th>Status</th>
                                <th>Valor</th>
                            </tr>
                            <% financeiro.forEach(all => { %>
                                <tr>
                                    <td><%= all.mes %></td>
                                    <td><%= all.idMorador %></td>
                                    <td><%= all.nome %></td>
                                    <td><%= all.numeroContrato %></td>
                                    <td><%= all.tempoContrato %></td>
                                    <td><%= all.status %></td>
                                    <td><%= all.valor %></td>
                                </tr>
                                <% }) %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>